.title h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.title h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #002B5B;
}

.title h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #002B5B;
}
/* heading styles two  */
.custom_heading_two:before {
  margin-top:50px;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 2px;
  width: 55px;
  background-color: #002B5B;
  z-index: 99;
}

.custom_heading_two:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 1px;
  width: 100%;
  background-color: #b4b4b4;
}