.card {
  width: inherit;
  height: auto;
  /* background-color: #b7dfba; */
  /* title bg color  #a2d4a1 #ch red #e3bdbc #dcaaa3 #f94946*/
  border-radius: 14px;
  position: relative;
  margin: 0 .5rem 0 0.5rem;
  cursor: pointer;
}
.card_pos {
  background: linear-gradient(to right, #b1d1f9, #b8daff);
}
.card_neg {
  background: linear-gradient(to right, #febdbd, #fcd5d5);
}
